*{
    margin: 0;
    padding: 0;
}
.aboutus{
    padding-top: 60px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    width: 600;
}
.aboutus h2 {
    padding-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
}
.aboutus-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 50px;
}
.weare{
    padding-bottom: 10px;
    width: 50%;
    vertical-align: middle;
}
.weare p{
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}
.profile{
    padding: 30px;
    width: 50%;
}
.profile img {
    width: 100%;
    display: inline-block;
}

@media screen and (max-width:960px){
    .weare{
        max-width: 45%;
    }
    .profile{
        max-width: 45%;
    }
}
@media screen and (max-width:768px){
    .weare{
        max-width: 50%;
    }
    .profile{
        max-width: 50%;
    }
}
@media screen and (max-width:480px){
    .weare{
        max-width: 100%;
    }
    .profile{
        max-width: 100%;
    }
}


